/* navbar.css */

/* Container for the navbar */
.navbar-container {
    padding-top: 2rem; /* Equivalent to pt-8 */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Flex container for navbar items */
  .navbar-flex {
    display: flex;
    justify-content: space-between; /* Equivalent to justify-between */
    align-items: center; /* Equivalent to items-center */
  }
  
  /* Branding text */
  .navbar-brand {
    font-size: 1.25rem; /* Equivalent to text-xl */
  color: #7689de;
    font-weight: 700; /* Equivalent to font-large */
  }

  
  .navbar-links {
    display: flex;
    gap: 2.5rem; /* Equivalent to gap-10 */
    color: #7689de;
  }
  
  .navbar-links li {
    list-style: none;
    margin-right: 20px; /* Moves each link 20px to the right */
    
  }
  
  
  .navbar-links a {
    font-weight: bold;
    text-decoration: none;
    color: inherit; /* Ensure color matches the surrounding text */
  }
  
  .navbar-links .menuLink a:hover {
    color: #7689de; /* Example hover color */
  }
  
  /* Media queries for large screens */
  @media (max-width: 1024px) {
    .navbar-links {
      display: none; /* Equivalent to hidden md:flex */
    }
  
    .navbar-menu-icon {
      display: block; /* Equivalent to md:hidden */
    }
  }
  